<nav class="navigation">
    <input type="checkbox" id="group1" />
    <label for="group1">
    <ul class="navigation__group first">
        <li class="navigation__group-link"><a href="#"><%= nav_helper 'navigation__group-link', 'li' %> </a></li>
        <li class="navigation__group-link"><a href="#"><%= login_helper 'navigation__group-link'%></a></li> 
    </ul>
    <span class="toggle">☰</span>
    </label>
</nav>