<div class="app-card-container">
    <div class="card">
        <h1>About me</h1>
        <hr>

        <div class="row">
            <div class="col-md-4">
                <%= image_tag 'lein.jpg', width: '100%', alt: "Profile Image", class: 'profile-img' %>
            <div>
            <% @skills.each do |skill|%>
            <div class="skill">
                <h4><%= skill.title%></h4>
                <div class="progress"> 
                    <div class="progress-bar progress-bar-striped bg-warning" 
                    role="progressbar" 
                    aria-valuenow="<%= skill.percent_utilized %>" 
                    aria-valuemax="100" style="width:<%= skill.percent_utilized %>% ">Monthly use %</div>
                </div>
            </div>
            <% end %>
            </div>  
            </div> 
            <div class="col-md-8">
                <p>Software engineer with a bachelor degree in computer science from University of 
                the people. 
                Full stack developer on ruby on
                rails and nodeJS. Experience with relational and non relational
                databases. Front end technologies: Html, Css, JavaScript, 
                Jquery, Bootstrap and react. Database technologies, SQL, Active record, mongoDB, express.
                Other languages: Python, Java, R. 
                <hr>
                I studied initially  Administration in Colombia at the Corporacion Unificada Nacional CUN, however,
                when I was in my final semesters I realized my career was more related with creation than with management; After wanderig
                around I found coding to be challenging and excitig a the same time, so I decided to 
                give it a try. I not only got to like it but felt in love with it. 
                For me software engineering is not only about writing code, it is about, having the opportunity 
                to  bring ideas into life, to create things for the well being of humanity and to contribute
                as a family of the world, by leaving a finger print and by contibuting and helping each other and like Tonny Robbins says, life 
                is about giving by becoming more.<hr> <q>Life is a gift, and it offers us the privilege, opportunity, and responsibility to give something back by becoming more. Tony Robbins</q>
                </p>
                <p><button
                class="btn btn-primary"
                type="button"
                data-toggle="collapse"
                data-target="#jobHistory"
                aria-expanded="false"
                aria-controler="jobHistory"                
                >Work Experience</button>
                <button
                class="btn btn-primary"
                type="button"
                data-toggle="collapse"
                data-target="#education"
                aria-expanded="false"
                aria-controler="education"                
                >Education</button></p>
                <p>
                    <div class="collapse" id="jobHistory">
                        <div class="card card-block">
                            Develpment of an library system where the users could lend each other
                            books by sharing the pdf files.
                            <p>In that project we implemented elastics search, storage with AWS and file oploading with
                            redis server and web workers.</p> 
                        </div>
                        <div class="card card-block">
                            Freelance Web developer with more that two years of experience. 
                            Implementing back-end and front-end applications powered with ruby on rails, nodeJS, React, Javascript 
                            databases with relational and non relational databases.
                            <p>
                            I have implemented real time connections with action cable, online storage with Amazon Web services
                            on top of a complete toolkit to make applications rubust with a proffessional look. 
                            </p> 
                        </div>
                    </div>
                </p>
                
                <p>
                    <div class="collapse" id="education">
                        <div class="card card-block">
                            Bachelor dregree in Computer Science Second year at University of the people.
                        </div>
                        <div class="card card-block">
                            Associate Degree in Administration of Touristic companies from The Corporacion Unificada
                            Nacional CUN.
                        </div>
                        <div class="card card-block">
                            Technologic Degree in Administration from The Corporacion Unificada
                            Nacional CUN.
                        </div>
                        <summary>Spoken Languages
                            <details>
                                <ul>
                                    <li>Spanish "Native Language"</li>
                                    <li>English</li>
                                    <li>German "Basic Leve Currently Studying"</li>
                                </ul>
                            </details>
                        </summary>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>




