<h1>About me</h1>
<div class="row">
    <div class="col-md-4">
        <%= image_tag 'profile.jpg', width: 300, alt: "Profile Image" %>
    </div>
    <div class="col-md-8">
        <p>Software engineer with a bachelor degree in computer science from University of 
        the people. 
        Full stack developer on ruby on
        rails and nodeJS. Experience with relational and non relational
        databases. Front end technologies: Html, Css, JavaScript, 
        Jquery, Bootstrap and react. Database technologies, SQL, Active record, mongoDB, express.
        Other languages: Python, Java, R. 
        <hr>
        I studied initially  Administration in Colombia at the Corporacion Unificada Nacional CUN, however,
        when I was in my final semesters I realized my career was related with creation; After wanderig
        around I found coding to be challenging and excitig a the same time so I decided to 
        give it a try. I not only got to like it but felt in love with it. 
        For me software engineering is not only about writing code, it is about, having the opportunity 
        to  bring ideas into life, to create things for the well being of humanity and to contribute
        as a family of the world by leaving a finger print and by contibuting and helping each other.And like Tonny Robbins says, life 
        is about giving by becoming more.<hr> <q>Life is a gift, and it offers us the privilege, opportunity, and responsibility to give something back by becoming more. Tony Robbins</q>
        </p>
    </div>
</div>



