<h1>About me</h1>

<p>Full stack developeron ruby on
rails and nodeJS. Experience with relational and non relational
databases. Front end technologies: Html, css, Javascript, 
Jquery, Bootstrap and react. Databases technologies, SQL, Active records, mongoDB, express.
Other languages: Python, Java, R. 
</p>
