<h1>About me</h1>

<p>Software engineer with a bachelor degree in computer science from University of the people 
Full stack developer on ruby on
rails and nodeJS. Experience with relational and non relational
databases. Front end technologies: Html, css, Javascript, 
Jquery, Bootstrap and react. Databases technologies, SQL, Active records, mongoDB, express.
Other languages: Python, Java, R. 
<hr>
I studied initially in Administration in Colombia at the Corporacion Unificada NAcional CUN, however,
when I was in my final semesters I found my career was relatad with creation, after wanderig
around I found coding challangig and excitig a the same time so I decided to 
give it a try, I not only got to like it but felt in love with it. 
For me software engineering is not only writing code, it means, having the opportunity 
to  bring ideas to life, to create thing for the well being of humanity and to contribute
as a family of the world by leaving a finger print, by contibuting and contributing each other.And like Tonny Robbins says, life 
is about giving by becoming more.<hr> <q>Life is a gift, and it offers us the privilege, opportunity, and responsibility to give something back by becoming more. Tony Robbins</q>
</p>
