<h1>Pages#contact</h1>
<p><%= number_to_phone "+57 3152503647"%></p>
<p><%= number_to_currency "150"%></p>
<p><%= number_to_percentage "45"%></p>
<p><%= number_with_delimiter "57556788533152503647.898898934555"%></p>
