<h1>Let's work together...</h1>
<div class="row">
<div class="col-md-6">
    <h3>Address</h3>
    <p>Diagonal 182 #20-71, Bogota</p>
    <h3>Phone</h3>
    <p><%= number_to_phone "+57 3152503647"%></p>
    <h3>Email</h3>
    <p><a href="mailto:lein.davir@gmail.com?subject=PortfolioContact">Email me</a></p>
</div>
<div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.068805404473!2d-74.04531308583121!3d4.758056096544395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f8590344a02db%3A0x5e8d4cdbc41f9e35!2sDg.+182+%2320-71%2C+Bogot%C3%A1!5e0!3m2!1sen!2sco!4v1541775511270" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>

