
<main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome</h1>
    <p class="lead">When it comes to software development we should not develop 
    jus for ourselves but for a team. 
    In my projects on top of developing software with best practices I make sure
     every step taken is properly mentioned.</p>
    <p class="lead">
    <%= link_to 'About Me', about_me_path, class: "btn btn-lg btn-secondary"  %>
    </p>
</main>


