
<main role="main" class="inner cover cover-home">
    <h1 class="cover-heading">Welcome</h1>
    <div class="app-card-container">        
        <div class="row" id="animation">
            <div class="col-md-12">
                <p class="element line line1"></p>
            </div>
        </div>
    </div>
    <p class="lead">
    <%= link_to 'About Me', about_me_path, class: "btn btn-lg btn-secondary cover-home"  %>
    </p>
</main>


