@import "bootstrap";
@import "font-awesome";
@import "gritter";
/* stylelint-disable selector-list-comma-newline-after */

html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Roboto", "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}
.blog-header .container {
  background-image: url("https://s3-sa-east-1.amazonaws.com/davirlein-porfolio-bucket/uploads/Hard-Drive-960px.gif");
  background-repeat: repeat;
  background-color: #cccccc;
  color: #000210;
}
.blog-header .container h1 {
  color: #010731;
  margin-left: 20%;
}
.blog-header .container p {
  color: #010731;
  font-weight: 700;
}

h1 .h1,
h2 .h2,
h3 .h3,
h4 .h4,
h5 .h5,
h6 .h6 {
  font-family: "Roboto", sans-serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/*
   * Blog name and description
   */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
   * Blog posts
   */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
   * Footer
   */
.blog-footer {
  margin-top: 20px;
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
* Custom styles
*/
.social-links li {
  font-size: 1.5em;
}
.comment-card > .card {
  margin-top: 15px;
}
.comment-ttribution {
  font-size: 0.8em;
  font-style: italic;
}
.comment-name {
  font-weight: 800;
  color: darkblue;
}
.blogcrumb a {
  font-size: 1.25em;
  margin: 0px 10px 0px 10px;
}
