.navigation {
    margin: 1rem auto;
    min-width: 100%;
    border-radius: 5%;

}
#group1, .toggle {
    display: none;
}
.navigation__group {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.navigation__group li a {
    text-decoration: none;
    align-self: center;
    font-size: 14px;
    padding: 16px 20px;
    transition: background .2s linear;
  }

  @media screen and (max-width: 600px) {
      .navigation__group li a {
        font-size: 13px;
      }
  }
  @media screen and (max-width: 550px) {
    .toggle {
        clear: both;
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 40px;
        cursor: pointer;
        width: 100%;
        height: 40px;
        font-size: 18px;
        color: #595959;
        background: #dbdbdb;
        transition: all .1s linear;
      }
      .toggle:hover {
        background: #cecece;
      }
      #group:checked + label .first li {
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
      }
      #group1:checked + label .first {
        height: 200px;
      }
      .navigation__group {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0px;
        transition: height .3s linear;
      }
      .navigation__group li {
        display: flex;
        /* magic */
        align-self: center;
        width: 100%;
        opacity: 0;
        //visibility: hidden;
      }
      .navigation__group li a {
        width: 100%;
        text-align: center;
        align-self: center;
        align-content: center;
      }

  }

  .first {
    background: #434343; /* Old browsers */
    background: -moz-linear-gradient(left, #434343 0%, #0a0a0a 84%, #030303 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #434343 0%,#0a0a0a 84%,#030303 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #434343 0%,#0a0a0a 84%,#030303 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#030303',GradientType=1 ); /* IE6-9 */
  }
  

  
  .first li a:hover {
    background: linear-gradient(to right, #8E0E00 0%, #1F1C18 100%);
    color: #000;
    height: 100%;
    font-weight: 900;
  }
   



