@import "bootstrap";
@import "jquery-ui";
@import "gritter";
body {
  font-family: "Lato", sans-serif;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}
h1 .h1,
h2 .h2,
h3 .h3,
h4 .h4,
h5 .h5,
h6 .h6 {
  font-family: "Roboto", sans-serif;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}
/*
* Custom styles
*/
.portfolio-container {
  padding-top: 30px;
}
